@import "../variables/variables";
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500;800&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-family: "Manrope", sans-serif;
  // cursor: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  background-color: $bg-body;
}

img,
picture,
video,
canvas,
svg {
  max-inline-size: 100%;
  block-size: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

ol,
ul {
  list-style: none;
}

input,
button,
textarea,
select {
  font: inherit;
  border: none;
}
