@use "./variables" as v;

.hero {
  text-align: center;
  width: 100%;
  background: url("../assets/illustration-hero-right.svg"),
    url("../assets/illustration-hero-left.svg");
  background-repeat: no-repeat, no-repeat;
  background-position: left 58vw top 0vh, right 57vw top 0vh;
  margin-top: 115px;
  margin-inline: auto;
}

.hero_content {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 67px;
}

.hero_title {
  font-size: 48px;
  color: v.$white;
  width: 40%;
  line-height: 58px;

  span {
    color: v.$cyan;
  }
}

.hero_info {
  padding-top: 23px;
  color: v.$gray;
  width: 38%;
  line-height: 25px;
}

.scroll {
  padding-block: 63px 90px;
}
